<app-header></app-header>
<body>
    <div>
        <img class="image" src="../../../../assets/Images/contact.jpg" class="w-100" alt="...">
        <p class="text">Contact Us</p>
    </div>
    
</body>

<div class="rectangle1">
   <img class="logo" src="../../../../assets/Images/logo-phone.png">
   <a class="text1">Call Me</a>
</div>
<div class="rectangle2">
    <img class="logo" src="../../../../assets/Images/logo-mail.png">
</div>
<div class="rectangle3">
    <img class="logo" src="../../../../assets/Images/logo-home.png">
</div>
