<app-header></app-header>
<body>
    <div>
        <img class="image" src="../../../../assets/Images/contact.jpg" alt="...">
        <p class="text">Contact Us</p>
    </div>
    
</body>

<div class="rectangle1">
   <img class="logo" src="../../../../assets/Images/logo-phone.png">
   <a class="text1">Call Us</a>
   <a class="text2"><br>+91 0000000000</a>
</div>
<div class="rectangle2">
    <img class="logo" src="../../../../assets/Images/logo-mail.png">
    <a class="text1">Mail Us</a>
    <a class="text2"><br>chefs@mail.com</a>
</div>
<div class="rectangle3">
    <img class="logo" src="../../../../assets/Images/logo-home.png">
    <a class="text1">Find Us</a>
    <a class="text2"><br>Block-0</a>
</div>
